{
    "useTabs": true,
    "printWidth": 120,
    "tabWidth": 2,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "trailingComma": "none",
    "jsxBracketSameLine": true,
    "semi": true,
    "arrowParens": "always",
    "quoteProps": "preserve",
    "bracketSpacing": true
}
