.fullPage {
    background: linear-gradient(45deg, #83a4d4, #b6fbff);
}
.fullPage__container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    transition: background-color 5000s ease-in-out 0s;
}
.MuiButton-label {
    position: relative;
}

.form {
    width: 100%;
    text-align: center;
    max-width: 400px;
    border-radius: 8px;
    padding: 64px;
    background-color: white;
    &__container {
        display: flex;
        flex-direction: column;
        margin: 0 0 32px;
    }
    &__title {
        margin: 0 0 32px;
    }
    &__info {
        margin: 16px 0 0;
        a {
            margin-left: 4px;
        }
    }
}
