html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	color: #222;
	font-family: 'Open Sans';
	background: #fafafa;
	padding-top: 60px;
}

img {
	max-width: 100%;
	height: auto;
}
h1,
h2,
h3 {
	font-family: 'Raleway';
	letter-spacing: 1px;
	font-weight: 700;
}

a {
	font-weight: 500;
	color: #f2709c;
}
